-i https://pypi.org/simple
absl-py==2.3.0; python_version >= '3.8'
aiofiles==24.1.0; python_version >= '3.8'
aiohappyeyeballs==2.6.1; python_version >= '3.9'
aiohttp==3.12.12; python_version >= '3.9'
aioice==0.10.1; python_version >= '3.9'
aiortc==1.13.0; python_version >= '3.9'
aiosignal==1.3.2; python_version >= '3.9'
altair==5.5.0; python_version >= '3.9'
annotated-types==0.7.0; python_version >= '3.8'
anyio==4.9.0; python_version >= '3.9'
asttokens==3.0.0; python_version >= '3.8'
astunparse==1.6.3
async-timeout==4.0.3; python_version >= '3.7'
attrs==25.3.0; python_version >= '3.8'
av==14.4.0; python_version >= '3.9'
beautifulsoup4==4.13.4; python_full_version >= '3.7.0'
blinker==1.9.0; python_version >= '3.9'
cachetools==5.5.2; python_version >= '3.7'
certifi==2025.4.26; python_version >= '3.6'
cffi==1.17.1; python_version >= '3.8'
charset-normalizer==3.4.2; python_version >= '3.7'
click==8.1.8; python_version >= '3.7'
cryptography==45.0.4; python_version >= '3.7' and python_full_version not in '3.9.0, 3.9.1'
dataclasses-json==0.6.7; python_version >= '3.7' and python_version < '4.0'
decorator==5.2.1; python_version >= '3.8'
deepface==0.0.93; python_version >= '3.7'
distro==1.9.0; python_version >= '3.6'
dnspython==2.7.0; python_version >= '3.9'
elevenlabs==0.2.27
exceptiongroup==1.3.0; python_version >= '3.7'
executing==2.2.0; python_version >= '3.8'
faiss-cpu==1.11.0; python_version >= '3.9'
fastapi==0.115.12; python_version >= '3.8'
ffmpy==0.6.0; python_version >= '3.9'
filelock==3.18.0; python_version >= '3.9'
fire==0.7.0
flask==3.1.1; python_version >= '3.9'
flask-cors==6.0.0; python_version >= '3.9' and python_version < '4.0'
flatbuffers==25.2.10
frozenlist==1.7.0; python_version >= '3.9'
fsspec==2025.5.1; python_version >= '3.9'
gast==0.6.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
gdown==5.2.0; python_version >= '3.8'
gitdb==4.0.12; python_version >= '3.7'
gitpython==3.1.44; python_version >= '3.7'
google-crc32c==1.7.1; python_version >= '3.9'
google-pasta==0.2.0
gradio==5.33.2; python_version >= '3.10'
gradio-client==1.10.3; python_version >= '3.10'
groovy==0.1.2; python_version >= '3.10'
groq==0.27.0; python_version >= '3.8'
grpcio==1.73.0; python_version >= '3.9'
gtts==2.5.4; python_version >= '3.7'
gunicorn==23.0.0; python_version >= '3.7'
h11==0.16.0; python_version >= '3.8'
h5py==3.14.0; python_version >= '3.9'
hf-xet==1.1.3; python_version >= '3.8'
httpcore==1.0.9; python_version >= '3.8'
httpx==0.28.1; python_version >= '3.8'
httpx-sse==0.4.0; python_version >= '3.8'
huggingface-hub==0.33.0; python_full_version >= '3.8.0'
idna==3.10; python_version >= '3.6'
ifaddr==0.2.0
ipython==8.37.0; python_version >= '3.10'
itsdangerous==2.2.0; python_version >= '3.8'
jedi==0.19.2; python_version >= '3.6'
jinja2==3.1.6; python_version >= '3.7'
jiter==0.10.0; python_version >= '3.9'
joblib==1.5.1; python_version >= '3.9'
jsonlines==4.0.0; python_version >= '3.8'
jsonpatch==1.33; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
jsonpointer==3.0.0; python_version >= '3.7'
jsonschema==4.24.0; python_version >= '3.9'
jsonschema-specifications==2025.4.1; python_version >= '3.9'
keras==3.10.0; python_version >= '3.9'
langchain==0.3.25; python_version >= '3.9'
langchain-community==0.3.25; python_version >= '3.9'
langchain-core==0.3.65; python_version >= '3.9'
langchain-groq==0.3.2; python_version >= '3.9' and python_version < '4.0'
langchain-ollama==0.3.3; python_version >= '3.9'
langchain-text-splitters==0.3.8; python_version >= '3.9' and python_version < '4.0'
langdetect==1.0.9
langsmith==0.3.45; python_version >= '3.9'
libclang==18.1.1
loguru==0.7.3; python_version >= '3.5' and python_version < '4.0'
lz4==4.4.4; python_version >= '3.9'
markdown==3.8; python_version >= '3.9'
markdown-it-py==3.0.0; python_version >= '3.8'
markupsafe==3.0.2; python_version >= '3.9'
marshmallow==3.26.1; python_version >= '3.9'
matplotlib-inline==0.1.7; python_version >= '3.8'
mdurl==0.1.2; python_version >= '3.7'
ml-dtypes==0.5.1; python_version >= '3.9'
mpmath==1.3.0
mtcnn==1.0.0; python_version >= '3.10'
multidict==6.4.4; python_version >= '3.9'
mypy-extensions==1.1.0; python_version >= '3.8'
namex==0.1.0
narwhals==1.42.1; python_version >= '3.8'
networkx==3.4.2; python_version >= '3.10'
nltk==3.9.1; python_version >= '3.8'
nomic==3.5.3
nrclex==3.0.0; python_version >= '2.7'
numpy==2.1.3; python_version >= '3.10'
ollama==0.5.1; python_version >= '3.8'
openai==1.86.0; python_version >= '3.8'
opencv-python==4.11.0.86; python_version >= '3.6'
opt-einsum==3.4.0; python_version >= '3.8'
optree==0.16.0; python_version >= '3.9'
orjson==3.10.18; python_version >= '3.9'
packaging==24.2; python_version >= '3.8'
pandas==2.3.0; python_version >= '3.9'
parso==0.8.4; python_version >= '3.6'
pexpect==4.9.0; sys_platform != 'win32' and sys_platform != 'emscripten'
pillow==11.2.1; python_version >= '3.9'
playsound==1.3.0
prompt-toolkit==3.0.51; python_version >= '3.8'
propcache==0.3.2; python_version >= '3.9'
protobuf==5.29.5; python_version >= '3.8'
ptyprocess==0.7.0
pure-eval==0.2.3
pyarrow==20.0.0; python_version >= '3.9'
pycparser==2.22; python_version >= '3.8'
pydantic==2.11.5; python_version >= '3.9'
pydantic-core==2.33.2; python_version >= '3.9'
pydantic-settings==2.9.1; python_version >= '3.9'
pydeck==0.9.1; python_version >= '3.8'
pydub==0.25.1
pyee==13.0.0; python_version >= '3.8'
pygame==2.6.1; python_version >= '3.6'
pygments==2.19.1; python_version >= '3.8'
pyjwt==2.10.1; python_version >= '3.9'
pylibsrtp==0.12.0; python_version >= '3.9'
pymupdf==1.26.0; python_version >= '3.9'
pyobjc==11.0; python_version >= '3.9'
pyobjc-core==11.0; python_version >= '3.8'
pyobjc-framework-accessibility==11.0; python_version >= '3.9'
pyobjc-framework-accounts==11.0; python_version >= '3.9'
pyobjc-framework-addressbook==11.0; python_version >= '3.9'
pyobjc-framework-adservices==11.0; python_version >= '3.9'
pyobjc-framework-adsupport==11.0; python_version >= '3.9'
pyobjc-framework-applescriptkit==11.0; python_version >= '3.9'
pyobjc-framework-applescriptobjc==11.0; python_version >= '3.9'
pyobjc-framework-applicationservices==11.0; python_version >= '3.9'
pyobjc-framework-apptrackingtransparency==11.0; python_version >= '3.9'
pyobjc-framework-audiovideobridging==11.0; python_version >= '3.9'
pyobjc-framework-authenticationservices==11.0; python_version >= '3.9'
pyobjc-framework-automaticassessmentconfiguration==11.0; python_version >= '3.9'
pyobjc-framework-automator==11.0; python_version >= '3.9'
pyobjc-framework-avfoundation==11.0; python_version >= '3.9'
pyobjc-framework-avkit==11.0; python_version >= '3.9'
pyobjc-framework-avrouting==11.0; python_version >= '3.9'
pyobjc-framework-backgroundassets==11.0; python_version >= '3.9'
pyobjc-framework-browserenginekit==11.0; python_version >= '3.9'
pyobjc-framework-businesschat==11.0; python_version >= '3.9'
pyobjc-framework-calendarstore==11.0; python_version >= '3.9'
pyobjc-framework-callkit==11.0; python_version >= '3.9'
pyobjc-framework-carbon==11.0; python_version >= '3.9'
pyobjc-framework-cfnetwork==11.0; python_version >= '3.9'
pyobjc-framework-cinematic==11.0; python_version >= '3.9'
pyobjc-framework-classkit==11.0; python_version >= '3.9'
pyobjc-framework-cloudkit==11.0; python_version >= '3.9'
pyobjc-framework-cocoa==11.0; python_version >= '3.9'
pyobjc-framework-collaboration==11.0; python_version >= '3.9'
pyobjc-framework-colorsync==11.0; python_version >= '3.9'
pyobjc-framework-contacts==11.0; python_version >= '3.9'
pyobjc-framework-contactsui==11.0; python_version >= '3.9'
pyobjc-framework-coreaudio==11.0; python_version >= '3.9'
pyobjc-framework-coreaudiokit==11.0; python_version >= '3.9'
pyobjc-framework-corebluetooth==11.0; python_version >= '3.9'
pyobjc-framework-coredata==11.0; python_version >= '3.9'
pyobjc-framework-corehaptics==11.0; python_version >= '3.9'
pyobjc-framework-corelocation==11.0; python_version >= '3.9'
pyobjc-framework-coremedia==11.0; python_version >= '3.9'
pyobjc-framework-coremediaio==11.0; python_version >= '3.9'
pyobjc-framework-coremidi==11.0; python_version >= '3.9'
pyobjc-framework-coreml==11.0; python_version >= '3.9'
pyobjc-framework-coremotion==11.0; python_version >= '3.9'
pyobjc-framework-coreservices==11.0; python_version >= '3.9'
pyobjc-framework-corespotlight==11.0; python_version >= '3.9'
pyobjc-framework-coretext==11.0; python_version >= '3.9'
pyobjc-framework-corewlan==11.0; python_version >= '3.9'
pyobjc-framework-cryptotokenkit==11.0; python_version >= '3.9'
pyobjc-framework-datadetection==11.0; python_version >= '3.9'
pyobjc-framework-devicecheck==11.0; python_version >= '3.9'
pyobjc-framework-devicediscoveryextension==11.0; python_version >= '3.9'
pyobjc-framework-dictionaryservices==11.0; python_version >= '3.9'
pyobjc-framework-discrecording==11.0; python_version >= '3.9'
pyobjc-framework-discrecordingui==11.0; python_version >= '3.9'
pyobjc-framework-diskarbitration==11.0; python_version >= '3.9'
pyobjc-framework-dvdplayback==11.0; python_version >= '3.9'
pyobjc-framework-eventkit==11.0; python_version >= '3.9'
pyobjc-framework-exceptionhandling==11.0; python_version >= '3.9'
pyobjc-framework-executionpolicy==11.0; python_version >= '3.9'
pyobjc-framework-extensionkit==11.0; python_version >= '3.9'
pyobjc-framework-externalaccessory==11.0; python_version >= '3.9'
pyobjc-framework-fileprovider==11.0; python_version >= '3.9'
pyobjc-framework-fileproviderui==11.0; python_version >= '3.9'
pyobjc-framework-findersync==11.0; python_version >= '3.9'
pyobjc-framework-fsevents==11.0; python_version >= '3.9'
pyobjc-framework-gamecenter==11.0; python_version >= '3.9'
pyobjc-framework-gamecontroller==11.0; python_version >= '3.9'
pyobjc-framework-gamekit==11.0; python_version >= '3.9'
pyobjc-framework-gameplaykit==11.0; python_version >= '3.9'
pyobjc-framework-healthkit==11.0; python_version >= '3.9'
pyobjc-framework-imagecapturecore==11.0; python_version >= '3.9'
pyobjc-framework-inputmethodkit==11.0; python_version >= '3.9'
pyobjc-framework-installerplugins==11.0; python_version >= '3.9'
pyobjc-framework-instantmessage==11.0; python_version >= '3.9'
pyobjc-framework-intents==11.0; python_version >= '3.9'
pyobjc-framework-intentsui==11.0; python_version >= '3.9'
pyobjc-framework-iobluetooth==11.0; python_version >= '3.9'
pyobjc-framework-iobluetoothui==11.0; python_version >= '3.9'
pyobjc-framework-iosurface==11.0; python_version >= '3.9'
pyobjc-framework-ituneslibrary==11.0; python_version >= '3.9'
pyobjc-framework-kernelmanagement==11.0; python_version >= '3.9'
pyobjc-framework-latentsemanticmapping==11.0; python_version >= '3.9'
pyobjc-framework-launchservices==11.0; python_version >= '3.9'
pyobjc-framework-libdispatch==11.0; python_version >= '3.9'
pyobjc-framework-libxpc==11.0; python_version >= '3.9'
pyobjc-framework-linkpresentation==11.0; python_version >= '3.9'
pyobjc-framework-localauthentication==11.0; python_version >= '3.9'
pyobjc-framework-localauthenticationembeddedui==11.0; python_version >= '3.9'
pyobjc-framework-mailkit==11.0; python_version >= '3.9'
pyobjc-framework-mapkit==11.0; python_version >= '3.9'
pyobjc-framework-mediaaccessibility==11.0; python_version >= '3.9'
pyobjc-framework-mediaextension==11.0; python_version >= '3.9'
pyobjc-framework-medialibrary==11.0; python_version >= '3.9'
pyobjc-framework-mediaplayer==11.0; python_version >= '3.9'
pyobjc-framework-mediatoolbox==11.0; python_version >= '3.9'
pyobjc-framework-metal==11.0; python_version >= '3.9'
pyobjc-framework-metalfx==11.0; python_version >= '3.9'
pyobjc-framework-metalkit==11.0; python_version >= '3.9'
pyobjc-framework-metalperformanceshaders==11.0; python_version >= '3.9'
pyobjc-framework-metalperformanceshadersgraph==11.0; python_version >= '3.9'
pyobjc-framework-metrickit==11.0; python_version >= '3.9'
pyobjc-framework-mlcompute==11.0; python_version >= '3.9'
pyobjc-framework-modelio==11.0; python_version >= '3.9'
pyobjc-framework-multipeerconnectivity==11.0; python_version >= '3.9'
pyobjc-framework-naturallanguage==11.0; python_version >= '3.9'
pyobjc-framework-netfs==11.0; python_version >= '3.9'
pyobjc-framework-network==11.0; python_version >= '3.9'
pyobjc-framework-networkextension==11.0; python_version >= '3.9'
pyobjc-framework-notificationcenter==11.0; python_version >= '3.9'
pyobjc-framework-opendirectory==11.0; python_version >= '3.9'
pyobjc-framework-osakit==11.0; python_version >= '3.9'
pyobjc-framework-oslog==11.0; python_version >= '3.9'
pyobjc-framework-passkit==11.0; python_version >= '3.9'
pyobjc-framework-pencilkit==11.0; python_version >= '3.9'
pyobjc-framework-phase==11.0; python_version >= '3.9'
pyobjc-framework-photos==11.0; python_version >= '3.9'
pyobjc-framework-photosui==11.0; python_version >= '3.9'
pyobjc-framework-preferencepanes==11.0; python_version >= '3.9'
pyobjc-framework-pushkit==11.0; python_version >= '3.9'
pyobjc-framework-quartz==11.0; python_version >= '3.9'
pyobjc-framework-quicklookthumbnailing==11.0; python_version >= '3.9'
pyobjc-framework-replaykit==11.0; python_version >= '3.9'
pyobjc-framework-safariservices==11.0; python_version >= '3.9'
pyobjc-framework-safetykit==11.0; python_version >= '3.9'
pyobjc-framework-scenekit==11.0; python_version >= '3.9'
pyobjc-framework-screencapturekit==11.0; python_version >= '3.9'
pyobjc-framework-screensaver==11.0; python_version >= '3.9'
pyobjc-framework-screentime==11.0; python_version >= '3.9'
pyobjc-framework-scriptingbridge==11.0; python_version >= '3.9'
pyobjc-framework-searchkit==11.0; python_version >= '3.9'
pyobjc-framework-security==11.0; python_version >= '3.9'
pyobjc-framework-securityfoundation==11.0; python_version >= '3.9'
pyobjc-framework-securityinterface==11.0; python_version >= '3.9'
pyobjc-framework-sensitivecontentanalysis==11.0; python_version >= '3.9'
pyobjc-framework-servicemanagement==11.0; python_version >= '3.9'
pyobjc-framework-sharedwithyou==11.0; python_version >= '3.9'
pyobjc-framework-sharedwithyoucore==11.0; python_version >= '3.9'
pyobjc-framework-shazamkit==11.0; python_version >= '3.9'
pyobjc-framework-social==11.0; python_version >= '3.9'
pyobjc-framework-soundanalysis==11.0; python_version >= '3.9'
pyobjc-framework-speech==11.0; python_version >= '3.9'
pyobjc-framework-spritekit==11.0; python_version >= '3.9'
pyobjc-framework-storekit==11.0; python_version >= '3.9'
pyobjc-framework-symbols==11.0; python_version >= '3.9'
pyobjc-framework-syncservices==11.0; python_version >= '3.9'
pyobjc-framework-systemconfiguration==11.0; python_version >= '3.9'
pyobjc-framework-systemextensions==11.0; python_version >= '3.9'
pyobjc-framework-threadnetwork==11.0; python_version >= '3.9'
pyobjc-framework-uniformtypeidentifiers==11.0; python_version >= '3.9'
pyobjc-framework-usernotifications==11.0; python_version >= '3.9'
pyobjc-framework-usernotificationsui==11.0; python_version >= '3.9'
pyobjc-framework-videosubscriberaccount==11.0; python_version >= '3.9'
pyobjc-framework-videotoolbox==11.0; python_version >= '3.9'
pyobjc-framework-virtualization==11.0; python_version >= '3.9'
pyobjc-framework-vision==11.0; python_version >= '3.9'
pyobjc-framework-webkit==11.0; python_version >= '3.9'
pyopenssl==25.1.0; python_version >= '3.7'
pypdf==5.6.0; python_version >= '3.8'
pysocks==1.7.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-dateutil==2.9.0.post0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
python-dotenv==1.1.0; python_version >= '3.9'
python-multipart==0.0.20; python_version >= '3.8'
pyttsx3==2.98
pytz==2025.2
pyyaml==6.0.2; python_version >= '3.8'
referencing==0.36.2; python_version >= '3.9'
regex==2024.11.6; python_version >= '3.8'
requests[socks]==2.32.4; python_version >= '3.8'
requests-toolbelt==1.0.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
retina-face==0.0.17; python_full_version >= '3.5.5'
rich==14.0.0; python_full_version >= '3.8.0'
rpds-py==0.25.1; python_version >= '3.9'
ruff==0.11.13; python_version >= '3.7'
safehttpx==0.1.6; python_version >= '3.10'
safetensors==0.5.3; python_version >= '3.7'
scikit-learn==1.7.0; python_version >= '3.10'
scipy==1.15.3; python_version >= '3.10'
semantic-version==2.10.0; python_version >= '2.7'
sentence-transformers==4.1.0; python_version >= '3.9'
setuptools==80.9.0; python_version >= '3.9'
shellingham==1.5.4; python_version >= '3.7'
six==1.17.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
smmap==5.0.2; python_version >= '3.7'
sniffio==1.3.1; python_version >= '3.7'
sounddevice==0.5.2; python_version >= '3.7'
soupsieve==2.7; python_version >= '3.8'
speechrecognition==3.14.3; python_version >= '3.9'
sqlalchemy==2.0.41; python_version >= '3.7'
stack-data==0.6.3
starlette==0.46.2; python_version >= '3.9'
streamlit==1.45.1; python_version >= '3.9' and python_full_version != '3.9.7'
streamlit-webrtc==0.46.0; python_version not in '2.7, 3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6, 3.7' and python_version >= '3.8'
sympy==1.14.0; python_version >= '3.9'
tenacity==9.1.2; python_version >= '3.9'
tensorboard==2.19.0; python_version >= '3.9'
tensorboard-data-server==0.7.2; python_version >= '3.7'
tensorflow==2.19.0; python_version >= '3.9'
tensorflow-io-gcs-filesystem==0.37.1; python_version < '3.13' and python_version >= '3.7'
termcolor==3.1.0; python_version >= '3.9'
textblob==0.19.0; python_version >= '3.9'
tf-keras==2.19.0; python_version >= '3.9'
threadpoolctl==3.6.0; python_version >= '3.9'
tokenizers==0.21.1; python_version >= '3.9'
toml==0.10.2; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2'
tomlkit==0.13.3; python_version >= '3.8'
torch==2.7.1; python_full_version >= '3.9.0'
tornado==6.5.1; python_version >= '3.9'
tqdm==4.67.1; python_version >= '3.7'
traitlets==5.14.3; python_version >= '3.8'
transformers==4.52.4; python_full_version >= '3.9.0'
typer==0.16.0; python_version >= '3.7'
typing-extensions==4.14.0; python_version >= '3.9'
typing-inspect==0.9.0
typing-inspection==0.4.1; python_version >= '3.9'
tzdata==2025.2; python_version >= '2'
urllib3==2.4.0; python_version >= '3.9'
uvicorn==0.34.3; python_version >= '3.9'
wcwidth==0.2.13
websockets==15.0.1; python_version >= '3.9'
werkzeug==3.1.3; python_version >= '3.9'
wheel==0.45.1; python_version >= '3.8'
wrapt==1.17.2; python_version >= '3.8'
yarl==1.20.1; python_version >= '3.9'
zstandard==0.23.0; python_version >= '3.8'
